@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "DanaFaNum";
  }
}
:root {
  --primary: #ffb52a;
  --primary-50: #fff8e3;
  --primary-100: #ffecb7;
  --primary-200: #ffe189;
  --primary-300: #ffd65c;
  --primary-400: #ffcb3d;
  --primary-500: #ffc32f;
  --primary-600: #ffb52a;
  --primary-700: #ffa328;
  --primary-800: #ff9326;
  --primary-900: #fd7523;
  --primary-950: #F46007;


  --special-1: #FF5050CC;
  --special-2: #DB934B33;


  ---bg: url("");
  --default-bg: url("../images/default-back.jpg");
  --tourlist-bg: url("../images/tour-list-back.jpg");
  --articlelist-bg: url("../images/article-list-back.png");
  --footer-bg: url("../images/footer-back.jpg");
  --contact-bg: url("../images/contact-back.jpg");
}

@font-face {
  font-display: swap;
  font-family: "DanaFaNum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/DanaFaNum-Regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "DanaFaNum";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/DanaFaNum-Medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "DanaFaNum";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/DanaFaNum-Bold.ttf") format("truetype");
}

.mask-shape {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 15.72%, #FFF4EA 100%);
    -webkit-mask-image: url(../images/mask-svg.svg);
    mask-image: url(../images/mask-svg.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    width: 100%;
    display: block;
  }

  .mask-image{
    -webkit-mask-image: url(../images/mask-svg.svg);
    mask-image: url(../images/mask-svg.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    width: 100%;
    display: block;
  }
  .footer-shadow{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 84.28%);
  }
  .blinking {
    width: auto;
    height: auto;
    background-color: orange;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%, 100% {
      background-color: #18181B; 
    }
    50% {
      background-color: #ffb52a;
    }
  }
  .shadow-inner-custom{
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2), inset -2px -2px 5px rgba(255,255,255,0.7);
  }

  /* main */
  .text-shadow{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(153, 153, 153, 0) 172.64%);
    -webkit-background-clip: text;
      color: transparent;
  }

  .mask-gray-shape {
    background: linear-gradient(180deg, #F6F6F6 15.52%, #FFFFFF 100%);
    -webkit-mask-image: url(../images/mask-svg.svg);
    mask-image: url(../images/mask-svg.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    width: 100%;
    display: block;
  }

